/* .navbar{
    background-color: whitesmoke;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
float: left;

    list-style: none;
    margin: 10px 100px;
}
.navbar li a{
    padding: 3px 3px; */
/* } */
.div{
background-color: aliceblue;
}
.ul{
    float: right;
}
.li{
    display: inline-block ;
    padding: 4px 4px;
}
.select{
border-left: none;
border-top: none;
border-right: none;
font-size: 20px;
}





.field{
    margin-left: 150px;
    margin-right: 150px;
}
.class{
    display: flex;
}
.inp{
    border-left: none;
    border-top: none;
    border-right: none;    
}